images/earth/backup/*
images/gallery/_Camera/*
blogs/32_Building_a_Transformer_from_Scratch/Transformer_from_Scratch/.idea
blogs/32_Building_a_Transformer_from_Scratch/Transformer_from_Scratch/.venv
blogs/32_Building_a_Transformer_from_Scratch/Transformer_from_Scratch/dataset
blogs/33_Qwen_Series_Papers_Reading_Report/Qwen_Papers
blogs/34_Huggingface_Transformers_Lib/Code/transformers-main
blogs/34_Huggingface_Transformers_Lib/Code/Evaluate/.venv
