@import url("./main.css");

#inline {
    display: flex;
    justify-content: start;
    margin: auto;
}

h2#swal2-title {
    font-size: 24px;
    font-family: 'Source Sans Pro';
    color: theme('colors.metal');
}

div#swal2-html-container {
    font-size: 16px;
    font-family: 'Source Sans Pro';
    color: theme('colors.metal');
}

.swal2-popup .swal2-styled.swal2-confirm {
    background-color: #aaa !important;
    vertical-align: middle;
    padding: 0rem 3rem 0rem 3rem;
    color: #1b1f22 !important;
    font-weight: 300;

}

.swal2-popup .swal2-styled:focus {
    background-color: #ffffff !important;
    vertical-align: middle;
    color: #1b1f22 !important;
    font-weight: 300;
    padding: 0rem 3rem 0rem 3rem;
}

.swal2-popup .swal2-actions:not(.swal2-loading) .swal2-styled:hover {
    background-color: #ffffff !important;
    vertical-align: middle;
    color: #1b1f22 !important;
    font-weight: 300;
    padding: 0rem 3rem 0rem 3rem;
}


html::-webkit-scrollbar {
    width: 0.4rem;
}

html::-webkit-scrollbar-track {
    background-color: #1b1f22;
}

html::-webkit-scrollbar-thumb {
    background: #4e4e4e;
    border-radius: 0.2rem;
}

.table-finite-compression {
    white-space: normal;
    min-width: 50rem;
}

/* Bottom right text */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card {
    background-color: rgba(27, 31, 34, 1);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.image.main.card-image {
    z-index: 1000;
    margin: 0;
}

.card-text-block {
    position: absolute;
    bottom: 6px;
    left: 6px;

    text-align: left;
    height: auto;
    width: auto;

    line-height: 1rem;

    color: white;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    margin-right: 6px;
    display: inline-block;

    background-color: rgba(19, 21, 25, 0.5);
    border-radius: 4px;
    opacity: 0.6;
    z-index: 2000;
}

@media screen and (max-width: 480px) {
    .card-text-block {
        max-width: 10rem;
    }
}

.card::before {
    content: "";
    position: absolute;
    left: var(--x);
    top: var(--y);
    transform: translate(-50%, -50%);

    width: 100rem;
    height: 100rem;
    background: radial-gradient(var(--clr), transparent, transparent);
    opacity: 0;
    transition: opacity 0.5s;
}

.card:hover::before {
    opacity: 1;
}

.card::after {
    content: "";
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background-color: rgba(27, 31, 34, 0.75);
}

:root {
    --pad: clamp(1rem, 2vw, 3rem);
}

.blog-ol-wrapper>*+* {
    margin-top: var(--pad);
    font-family: "Open Sans", sans-serif;
}

.blog-ol {
    list-style: none;
    padding: 1.5rem;
    border: 0.1rem solid lightgrey;
    columns: 16rem;
    column-gap: calc(var(--pad) * 2);
    column-rule: 0.2rem dotted lightgrey;
    border-radius: 0.5rem;
    margin-top: 0rem;
}

.blog-card {
    --y: calc(100% - 2rem);
    display: grid;
    grid-template-columns: minmax(3.75em, auto) 1fr;
    gap: 0 0.5em;
    background: radial-gradient(circle at 30% var(--y), rgb(50 50 50), rgb(27, 31, 34));
    color: white;
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 0.17);
    position: relative;
    transition-duration: 0.5s;
}

.blog-card:hover {
    transition-duration: 0.5s;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(100 100 100 / 0.5);
}

.blog-card::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: rgb(50 50 50);
    border-radius: 0.5rem;
    transition-duration: 0.5s;
}

.blog-card:hover::after {
    transition-duration: 0.5s;
    opacity: 1;
}

.blog-li a {
    text-decoration: none;
    border-bottom: 0;
}

.blog-li {
    display: block;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.blog-li+.blog-li {
    margin-top: 1rem;
}

.blog-card img {
    grid-column: 1 / 3;
    grid-row: 1;
    aspect-ratio: 1.8;
    object-fit: cover;
    width: 100%;
    display: block;
    z-index: 1000;
}

.blog-card::before {
    counter-increment: list-item;
    content: counter(list-item);
    font-weight: 700;
    font-size: 4.5em;
    letter-spacing: -0.125em;
    line-height: 1;
    color: white;
    grid-column: 1;
    grid-row: span 2;
    align-self: end;
    margin: 0 0 -0.15em -0.15em;
    z-index: 2000;
}

.blog-card span {
    grid-column: 2;
    z-index: 3000;
}

.blog-card span:first-of-type {
    font-size: 1rem;
    padding-top: 1rem;
    padding-right: 0.5rem;
}

.blog-card span:last-of-type {
    font-size: 0.8rem;
    font-style: italic;
    padding-bottom: 1rem;
}

.img-in-blog {
    margin-left: auto;
    margin-right: auto;
}

.formula-in-blog {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    margin-top: -1rem;
}